<h3>New Equipment</h3>

<form class="" action="/leases/all-equipment" method="post">
  <table>
    <tbody>
      <tr>
        <td><label for="type">Type of Equipment</label></td>
        <td><input type="text" name="type" id="type" value=""></td>
      </tr>
      <tr>
        <td><label for="size">Size of Equipment</label></td>
        <td><input type="text" name="size" id="size" value=""></td>
      </tr>
      <tr>
        <td><label for="total-quantity">Stock Quantity</label></td>
        <td><input type="number" name="total_quantity" id="total-quantity" value="" min="0"></td>
      </tr>
      <tr>
        <td><label for="cost">Cost</label></td>
        <td>£<input type="number" name="cost" id="cost" value="" min="0"></td>
      </tr>
    </tbody>
  </table>
  <input type="submit" value="Add Equipment">
</form>
