<div class="">


<div class="confirmation-container">
  <h3><%=@statement%></h3>
  <div class="btn-another-lease">
    <a href="/leases/new-lease">
      <button type="button" name="button" class="quickbutton">
        ADD ANOTHER LEASE
      </button>
    </a>
  </div>
</div>
</div>
