<div class="">


<div class="confirmation-container">
  <% for statement in @statements %>
  <h5><%=statement%></h5>
  <% end %>
  <div class="btn-another-lease">
    <a href="/leases/new-lease">
      <button type="button" name="button" class="quickbutton">
        ADD ANOTHER LEASE
      </button>
    </a>
  </div>
</div>
</div>
