<div class="container-data">
  <h2>Instructions for Use</h2>
  <h3>Adding a Lease</h3>
  <p>To add a lease to the database, first the database must be populated with all the available equipment and the rentee customer details.</p>
  <p>And so on!</p>
</div>
