<h3>Instructions for Use</h3>
<h4>Adding a Lease</h4>
<p>To add a lease to the database, first the database must be populated with all the available equipment and the rentee customer details.</p>
<p>And so on!</p>
