<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ski Hire</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>Arthur's Seat Ski Hire</h1>
    <nav>
      <a href="/leases"><button type="button" name="button">Home</button></a>
      <a href="/leases/all-leases"><button type="button" name="button">Leases</button></a>
      <a href="/leases/all-equipment"><button type="button" name="button">Equipment</button></a>
      <a href="/leases/all-customers"><button type="button" name="button">Customers</button></a>
      <a href="/leases/help"><button type="button" name="button">How to use</button></a>
    </nav>
    <%= yield %>
  </body>
</html>
