
body {
  font-family: Ubuntu;
  background-color: #71A5AA;
  margin: 0;
  padding: 0;
}

input {
  font-size: 1.2em;
  padding: 0.1rem 0.5rem;
}

select {
  font-size: 1.2em;
  font-weight: 500;
}

a{
  color: black;
  text-decoration: none;
  font-size: 1em;
}

nav button {
  color: black;
  background-color: #FF781F;
  border-radius: 30px 30px 30px 30px;
  width: 130px;
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 500;
  font-size: 1.0em;
  border: 3px solid black;
  box-shadow: 5px 5px 15px #A5D7D9;
}

nav button:hover {
  background-color: #F7B07B;
  box-shadow: 5px 5px 15px #A5D7D9;
  color: black;
  transform: translateY(4px);
}

header {
padding: 20px;
}

table {
  /* table-layout: fixed; */
  width: 100%;
  border-collapse: collapse;
  border: 3px solid black;
  font-size: 0.8em;
  word-break: normal;
}

table .new-lease {
  table-layout: fixed;
}



thead th {
  text-align: center;
  height: 30px;
}

/* .summary-table thead th:nth-child(1) {
  width: 7%;
} */

tbody tr {
  height: 30px;
}

tbody tr:nth-child(odd) {
  background-color: #85DFE5;
}

tbody tr:nth-child(even) {
  background-color: #B6E4E7;
}

td {
  text-align: center;
}

.table-emphasis-text {
  font-weight: 500;
  font-size: 1.2em;
}

.lease-log {
  width: 89%;
}

.pageheader{
  text-align: center;
}

.brand {
  margin-top: 0;
  font-size: 50px;
}

.navigation {
}

.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  width: 80%;
  background-color: #E1FEFF;
}

.content {
  min-height: 500px;
  max-width: auto;
  padding-top: 10px;
}

.quickbutton {
  background-color: #FF781F;
  border-radius: 30px 30px 30px 30px;
  font-weight: 500;
  font-size: 1.0em;
  border: 3px solid black;
  width: 260px;
  height: 100px;
  font-weight: 500;
  font-size: 1.5em;
  box-shadow: 5px 5px 15px #A5D7D9;
}

.quickbutton:hover {
  background-color: #F7B07B;
  box-shadow: 5px 5px 15px #A5D7D9;
  color: black;
  transform: translateY(4px);
}

.quickbutton2 {
  background-color: #FF781F;
  border-radius: 30px 30px 30px 30px;
  font-weight: 500;
  font-size: 1.0em;
  border: 3px solid black;
  width: 300px;
  height: 100px;
  font-weight: 500;
  font-size: 1.5em;
  box-shadow: 5px 5px 15px #A5D7D9;
}
.quickbutton2:hover {
  background-color: #F7B07B;
  box-shadow: 5px 5px 15px #A5D7D9;
  color: black;
  transform: translateY(4px);
}

.buttoncontainer {
  text-align: center;
  margin: 0px;
}
.buttoncontainer2 {
  text-align: center;
  margin: 0px;
  padding-top: 50px;
}

.buttonposition {
  display: inline-block;
  margin: 0px 40px 15px 40px;
}

.container-data {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
}

.table-btn {
  background-color: #FF781F;
  border-radius: 30px 30px 30px 30px;
  font-weight: 500;
  font-size: 1.0em;
  border: 2px solid black;
  width: 80px;
  height: 25px;
  font-weight: 500;
  font-size: 0.8em;
  box-shadow: 5px 5px 15px #A5D7D9;
}

.table-btn:hover {
  background-color: #F7B07B;
  box-shadow: 5px 5px 15px #A5D7D9;
  color: black;
  transform: translateY(2px);
}

.confirmation-container {
  display: inline-block;
}

.btn-another-lease {
  text-align: center;
}

.statement {
  padding-top: 25px;
  text-align: center;
}

footer {
  text-align: center;
  font-size: 0.5em;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
